<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/site.css">
</head>
<body>

<header>
    <h3><%= title %></h3>
</header>

<nav>
    <span><a title="主页" href="/">主页</a></span>
    <span><a href="/message">留言</a></span>   
    <% if (user) { %>
    <span><a href="/look">查看用户</a></span>
    <span><a href="/lookMan">查看男用户</a></span>
    <span><a href="/post">发布</a></span>
    <span><a href="/logout">登出</a></span> 
    <% } else { %>
    <span><a href="/login">登录</a></span>
    <span><a href="/reg">注册</a></span>
    <% } %>
</nav>

<article>

    <% if (success) { %>
    <div><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
<% } %>