<!DOCTYPE html>
<html>
<head>
    <title><%= welcome %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= welcome %></h1>
<p>Welcome to <%= welcome %></p>
</body>
</html>
