<div class="line full"></div>
<div class="footer clearfix">
    <p class="copyright">
        © 2016 <a class="blue" href="">Xiguaaxigua</a></p>
    <ul class="fast-links">
        <li><a class="white" href="">Article</a></li>
        <li><a class="white" href="">Audio</a></li>
        <li><a class="white" href="">Images</a></li>
        <li><a class="white" href="">Links</a></li>
        <li><a class="white" href="">Video</a></li>
        <li><a class="white" href="">Message</a></li>
    </ul>
</div>
</div>
</div>
</body>
</html>