<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/stylesheets/site.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="header clearfix">
            <h1 class="logo">
                <a href="">XIGUA & XIGUA</a>
            </h1>
            <p class="tagline">Record the code is a kind of moral principle.</p>
            <div class="contact">
                <p>中国上海</p>
                <a class="blue" href="">by_openwater@163.com</a>
                <a class="blue" href="">xiguaaxigua</a>
            </div>
        </div>
        <div class="line full"></div>
        <div class="menu">
            <ul class="nav">
                <li>
                    <a class="white" href="/">Home</a>
                </li>
                <li>
                    <a class="white" href="/page">Page</a>
                </li>
                <li>
                    <a class="white" href="">Messages</a>
                </li>
            </ul>
            <form class="search" action="">
                <input type="search" placeholder="search">
                <input type="submit" value="">
            </form>
        </div>
        <div class="line full"></div>