<%- include header %>

<div class="main clearfix">
    <div class="content">
        <article class="menu-list">
            <h2 class="list-title">
                <a class="white" href="">MPlayerX</a>
            </h2>
            <p class="list-excerpt">MPlayerX is an alternative media player powered by ffmpeg and mplayer.</p>
            <p class="list-info">
                <a class="author" href="">Xigua</a>
                <a class="date" href="">Sep 21, 2016</a>
                <a class="read" href="">112 Reads</a>
                <a class="comments" href="">6 Comments</a>
            </p>
        </article>
        <article class="menu-list">
            <h2 class="list-title">
                <a class="white" href="">SiteSucker</a>
            </h2>
            <p class="list-excerpt">SiteSucker is an Macintosh application that automatically downloads Web
                sites from the Internet.
                <img src="http://themes.kubasto.com/fastblog/wp-content/plugins/woo-tumblog/functions/thumb.php?src=/blogs.dir/5/files/2010/11/3573561098_8a61a59b48_b.jpg&w=528&h=&zc=1&q=90"
                     alt=""></p>
            <p class="list-info">
                <a class="author" href="">Xigua</a>
                <a class="date" href="">Sep 21, 2016</a>
                <a class="read" href="">112 Reads</a>
                <a class="comments" href="">6 Comments</a>
            </p>
        </article>
        <article class="menu-list">
            <h2 class="list-title">
                <a class="white" href="">Audirvana</a>
            </h2>
            <p class="list-excerpt">Following the acclaimed Audirvana Plus versions, specially the one including
                Direct Mode and Integer Mode, Audirvana Plus is now offering a full featured library manager
                that can scale up to more than 100,000 tracks。</p>
            <p class="list-info">
                <a class="author" href="">Xigua</a>
                <a class="date" href="">Sep 21, 2016</a>
                <a class="read" href="">112 Reads</a>
                <a class="comments" href="">6 Comments</a>
            </p>
        </article>

        <article class="menu-list">
            <h2 class="list-title">
                <a class="white" href="">MPlayerX</a>
            </h2>
            <p class="list-excerpt">MPlayerX is an alternative media player powered by ffmpeg and mplayer.</p>
            <p class="list-info">
                <a class="author" href="">Xigua</a>
                <a class="date" href="">Sep 21, 2016</a>
                <a class="read" href="">112 Reads</a>
                <a class="comments" href="">6 Comments</a>
            </p>
        </article>
    </div>
    <div class="slide">
        <!--<div class="messages warning">
            <h4>您有 1条 新消息，快去查看吧</h4>
            <p>用户<a href="">[荆轲刺秦王]</a>在<a style="text-decoration: underline" href="">妲己之死</a>中回复了您...</p>
        </div>-->
        <!--<div class="valid widget">
            <h3>login</h3>
            <form action="">
                <p>
                    <input type="text" placeholder="用户名">
                </p>
                <p>
                    <input type="text" placeholder="密码">
                </p>
                <p class="tr">
                    <span class="button">登录</span>
                </p>
            </form>
        </div>-->
        <div class="valid widget">
            <h3>register</h3>
            <form action="">
                <p>
                    <input type="text" placeholder="用户名">
                </p>
                <p>
                    <input type="text" placeholder="邮箱">
                </p>
                <p>
                    <input type="text" placeholder="验证码">
                </p>
                <p>
                    <input type="text" placeholder="密码">
                </p>
                <p class="tr">
                    <span class="button">注册</span>
                </p>
            </form>
        </div>
        <div class="categories widget">
            <h3>categories</h3>
            <ul>
                <li>
                    <a class="white" href="">HTML & CSS (10)</a>
                </li>
                <li>
                    <a class="white" href="">Express (11)</a>
                </li>
                <li>
                    <a class="white" href="">MongoDB (3)</a>
                </li>
            </ul>
        </div>
        <div class="calendar widget">
            <h3>calendar</h3>
            <table>
                <caption>September 2016</caption>
                <thead>
                <tr>
                    <th scope="col" title="Monday">M</th>
                    <th scope="col" title="Tuesday">T</th>
                    <th scope="col" title="Wednesday">W</th>
                    <th scope="col" title="Thursday">T</th>
                    <th scope="col" title="Friday">F</th>
                    <th scope="col" title="Saturday">S</th>
                    <th scope="col" title="Sunday">S</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <td colspan="3" id="prev"><a class="blue"
                                                 href="http://themes.kubasto.com/fastblog/2010/11/">« Nov</a>
                    </td>
                    <td class="pad">&nbsp;</td>
                    <td colspan="3" id="next" class="pad">&nbsp;</td>
                </tr>
                </tfoot>

                <tbody>
                <tr>
                    <td colspan="3" class="pad">&nbsp;</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td id="today">24</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td class="pad" colspan="2">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="social-contact widget">
            <h3>social</h3>
            <a href="">
                <img src="images/socialmedia/imessage.png" alt="">
            </a>
            <a href="">
                <img src="images/socialmedia/github.png" alt="">
            </a>
            <a href="">
                <img src="images/socialmedia/instagram.png" alt="">
            </a>
            <a href="">
                <img src="images/socialmedia/yahoo.png" alt="">
            </a>
        </div>
        <div class="about-me widget">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet sapien eleifend erat at lorem non arcu. Sed orci molestie nec, aliquam
                quis, rhoncus.</p>
        </div>
        <div class="friend-links widget">
            <h3>Friends</h3>
            <ul>
                <li>
                    <a class="white" href="">Nowhere</a>
                </li>
                <li>
                    <a class="white" href="">Yumi Zhang</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- include footer %>