<%- include header %>

<div class="main clearfix">
    <div class="content-full">
        <div class="content-detail">
            <p>结论实际上是在某个前提之下才成立的，</p>

            <p>如果前提有漏洞，那么结论就不可靠了。</p>

            <p><br/></p>

            <p>这件事经常会对我们起到警示作用。</p>

            <p>让我们有意识的去鉴别前提的真实性，</p>

            <p>这可以称之为科学方法，小心的去求证某些假设。</p>

            <p><br/></p>

            <p>然而，在另一方面，</p>

            <p>有能力暂时接受某个尚未判断为真的假设，也是一种能力。</p>

            <p>先相信别人，相信不证自明，存疑于来日方长，而不纠结某个断言，</p>

            <p>会让我们更容易站在别人的立场看待问题，视野更广。</p>

            <p><br/></p>

            <p>因此，聪明人的思路总是有很多分支，各个分支都有条件。</p>

            <p>那些已经相信的事实，可能只是一个假设，</p>

            <p>那些极力怀疑的论点，也有可能为真。</p>

            <p><br/></p>
        </div>
        <div class="comments">
            <h2>Comment</h2>
            <ul class="com-lists clearfix">
                <p>1条评论</p>
                <li class="clearfix">
                    <div class="icon-box">
                        <img src="https://avatars1.githubusercontent.com/u/17041370?v=3&s=466" alt="">
                    </div>
                    <div class="com-detail">
                        <p class="com-user">上官小蜜</p>
                        <p class="com-content">好文章必须顶!!!!</p>
                        <p class="com-others">
                            <span class="time">8分钟前</span>
                            <span class="like">98</span>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="textarea-box">
                <textarea name="" id=""></textarea>
            </div>
            <div class="submit-box">
                <span class="button">评论</span>
            </div>
        </div>
    </div>
</div>

<%- include footer %>